<footer class="footer padding-lg bg-dark-grey">
    <ul class="list text-center">
        <li class="inline-block list-m-right list-m-bottom"><a href="#" title="">Tentang</a></li>
        <li class="inline-block list-m-right list-m-bottom"><a href="#" title="">Kontak</a></li>
        <li class="inline-block list-m-right list-m-bottom"><a href="#" title="">Privasi</a></li>
        <li class="inline-block list-m-right list-m-bottom"><a href="#" title="">Syarat</a></li>
    </ul>
    <hr class="divide divide-md">

    <div class="copyright text-center">
        <span>© 2018 Business-Finance</span>
    </div>
</footer>