<div class="header">
    <div class="head-nav">
        <div class="header-container">
            <div class="pull-left logo">
                <img src="https://upload.wikimedia.org/wikipedia/commons/d/df/Img_logo_blue.jpg" alt="ini jadi logo" />
            </div>
            <div class="pull-right">
                <div class="pull-left desktop-navigation web-name">
                    <th:block th:include="~{fragments/list-menu}">
                    </th:block>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>