<ul class="list-menu pull-left">
    <li class="menu-item has-new">
        <a href="#" title="">Home</a>
    </li>
    <li class="menu-item">
        <a href="#" title="">About</a>
    </li>
    <li class="menu-item">
        <a href="#" title="">Saham</a>
    </li>
    <li class="menu-item">
        <a href="#" title="">Valuation</a>
    </li>
    <li class="menu-item">
        <a href="#" title="">Activity</a>
    </li>
    <li class="menu-item">
        <a href="#" title="">Contact</a>
    </li>
</ul>
