<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/component.css">
</head>
<body>
    <header th:replace="~{fragments/header}"></header>
    <!--<div class="container">-->
        <!--<h2 class="web-name">Finansial Bisnis Informasi</h2>-->
    <!--</div>-->
    <div class="container">
        <div layout:fragment="container"></div>
    </div>
    <footer th:replace="fragments/footer"></footer>
    <script src="https://unpkg.com/vanilla-lazyload@10.12.0/dist/lazyload.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/main.js"></script>
    <th:block layout:fragment="inject-script"></th:block>
</body>
</html>